
   <header class='flex-container flex-center'>
      
      <div class="width-half">
        <form [formGroup]="stateForm" novalidate>
          <div class="pos-rel">
          <label for="search">
              <i class='fa fa-search icon-pos color-indigo'></i>
          </label>
          
              <input id='search' placeholder="Search" (click)="toggleDropDown()" formControlName='search'  class=' input-underline search-bar ' type='text'>
         <div  *ngIf="showDropDown" class="state-container-dropdown">
          <div>
           <div  class="state" *ngFor="let detail of details | searchFilter: getSearchValue()">
             {{detail.name}}
            </div>
           </div> 
           
          </div>

         </div>
       
        </form>
          
      </div>
      
  </header>


